# .NET
**/bin/
**/obj/
**/*.user

# Node.js
**/node_modules/
**/.env

# Java
**/target/
**/*.class

# Go
**/vendor/

# Angular
**/dist/

# Docker
**/.dockerignore

# IDEs and Editors
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docupdates